
.locale-chooser {
  box-sizing: border-box;
}

.locale-chooser .options-container{

}
.locale-chooser .options-container > label {
  border: 1px solid #eee;
  cursor: pointer;
  margin: 5px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.locale-chooser .options-container > label:hover {
  border-color: aquamarine;
}

.locale-chooser .options-container > label .flag {
  padding: 6px 10px ;
  background: #f1f1f1;
}
.locale-chooser .options-container > label .language {
  padding: 6px 8px;
  background: #FFF;
  font-size: 0.92em;
}

.locale-chooser .options-container > label input {
  display: none;
}
.locale-chooser .options-container > label.selected {
  border-color: dodgerblue;
  color: dodgerblue;
}

/**
 * LocalizedTextInput
 */

.localized-text-input {
  display: block;
}

.localized-text-input .input-box {
  padding: 0;
  display: flex;
  border: 1px solid #ddd;
  margin-top: -1px;
}

.localized-text-input .input-box .flag {
  padding: 5px;
  background: #eeeeee;
}

.localized-text-input .input-box input, .localized-text-input .input-box textarea {
  margin: 0;
  padding: 5px;
  border: 1px solid transparent;
  display: block;
  width: 100%;
}

.localized-text-input .input-box textarea {
  min-height: 50px;
  width: 100%;
  min-width: 0;
}
.localized-text-input .input-box input:focus, .localized-text-input .input-box textarea:focus {
  border-color: dodgerblue;
  z-index: 2;
  outline: none;
}

.localized-text-input .btn-select-languages {
  border: none;
  margin-top: 5px;
  background: none;
  cursor: pointer;
}